div(ng-show="global.loggedIn" ng-controller="NewProjectController as newCtrl" ng-model="global.loggedIn")
    form(name="project", ng-submit="submit()")

        p Project name:
        input(type="text", ng-model="projectName") 
        button(type="submit") Add project


