div(ng-show="loggedIn" ng-controller="NewProjectController as newCtrl")
    form(name="project", ng-submit="submit()")

        p Project name:
        input(type="text", ng-model="projectName",  name="projectname") 
        button(type="submit") Add project


