div(ng-controller="ProjectController as projectCtrl")
    h3 {{projectData.projectname}}
    ul Tasks
        li(ng-repeat="task in projectData.tasks")
            p(class="{{task.taskstatus}}") {{task.taskname}}


    form(name="newtask", ng-submit="submit()")

        p New task name:
        input(type="text", ng-model="taskName") 
        button(type="submit") Add task 
