div(ng-controller="ProjectsController as projectsCtrl")

    ul(class="header") Projects for {{target}}
        li(class="subitem" ng-repeat="project in projects")

            a(href="/project/{{project.id}}") {{project.projectname}}
